.hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 120px;
  color: white;
  z-index: 1;
  opacity: 0;
  animation: fadeInHero 1s ease-out forwards;
}
@keyframes fadeInHero{
    to{
        opacity: 1;
        
    }
}
.hero-content {
  flex-grow: 1;
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  padding-bottom: 0px;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn{

    to{
        opacity: 1;
    }
}

.hero-text {
  text-align: left;
}

.growth-line {
  font-size: 64px;
  font-weight: 700;
  margin: 0;
  color: white;
  text-shadow: 0 -4px 12px rgba(255, 255, 255, 0.6);
  opacity: 0;
  position: relative;
  transform: translateY(60px);
  animation: slideUp 1s ease-out 0.5s forwards;
}
@keyframes slideUp{
    to{
        opacity:1;
        transform: translateY(0);
    }
}

.hero-buttons-horizontal {
  display: flex;
  gap: 12px;
  margin-top: 16px;
  opacity: 0;
  transform: translateY(60px);
  animation: slideUp 1s ease-out 1.2s forwards;
}
@keyframes slideup{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.hero-explorer {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 12px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  font-size: 12px;
}

.hero-explorer p {
  color: #292929;
  margin: 0;
}

.hero-explorer img {
  width: 12px;
  height: auto;
}

.hero-dot-play {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.hero-dots {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero-dot {
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.6;
}

.hero-dot.orange {
  background: orangered;
  opacity: 1;
}
